
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    display: flex;
    font-family: Poppins;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    border: 0;
    flex-direction: column;
    vertical-align: center;
   
    background-image: linear-gradient(to right, rgb(10, 0, 24) , rgb(0, 38, 255));
}

/* ================================================================= */

h1 {
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 700;
    color: white;
}


/* ================================================================= */


p {
    font-size: 30px;
    color: white;
}

/* ============================= CONTAINER ================================= */

div.container {
    max-width: 800px;
    margin: 50px 5%; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    vertical-align: center;
    padding: 10%;
    display: flex;
    border: 1px solid rgb(228, 223, 233);
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 40%) 0px 5px 40px;
    border-radius: 6px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    min-width: 140px;
}

/* ================================= LABEL =============================== */

label {
    display: flex;
    margin: 10px 0px 0px 0px;
    color: white;
}

/* ================================ SUBMIT ================================= */

.styled-button, input[type="submit" i] {
    margin: 10px 0;
    border-radius: 3px;
    background-color: #000b81;
    color: white;
    padding: 10px 40px;
    border: 2px solid #00bfff;
    
    font-size: 14px;
    font-weight: 600;
}

.styled-button:hover, input[type="submit" i]:hover {


    border-radius: 3px;
    background-color: #000755;
    color: white;
    border: 2px solid #00bfff; 
}



/* ================================================================= */
h4 {
    font-size: 20px;
    color: rgb(13, 255, 0);
    font-family: 'JetBrains Mono';
}

h3 {
    margin-top: 30px;
    font-family: 'JetBrains Mono';
    color: #fff;
}