/* Título */
/* Título */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    vertical-align: center;
}

/* ================================================================= */

h1 {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 700;
    color: white;
}

/* ================================================================= */

body {
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to right, rgb(0, 195, 255) , rgb(0, 38, 255));
}

/* ================================================================= */


p {
    font-size: 30px;
    color: white;
}

/* =============================== CONTAINER ================================== */

div {
    max-width: 800px;
    margin: 50px 0; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    vertical-align: center;
    padding: 100px;
    display: flex;
    border: 1px solid rgb(228, 223, 233);
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 40%) 0px 5px 40px;
    border-radius: 6px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
}

/* ================================= LABEL =============================== */

label {
    display: flex;
    margin: 10px 0px 0px 0px;
    color: white;
}

/* ================================ SUBMIT ================================= */

input[type="submit" i] {

    border-radius: 3px;
    background-color: white;
    color: black;
    padding: 10px 40px;
    border: 2px solid #00bfff;
    
    font-size: 12px;
}

input[type="submit" i]:hover {

    font-size: 12px;
    border-radius: 3px;
    background-color: #00bfff;
    color: white;
    border: 2px solid #00bfff; 
}
