/* Título */
/* Título */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    vertical-align: center;
}

/* ================================================================= */

h1 {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 700;
    color: white;
}

/* ================================================================= */

body {
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to right, rgb(0, 195, 255) , rgb(0, 38, 255));
}

/* ================================================================= */


p {
    
}